<h1 class="page-header">Boards</h1>

<% @boards.each do |board| %>
  <div class="jumbotron">
      <div class = "container">
        <h3 align="center">
          <%= link_to board.name, user_board_path(current_user.id, board.id) %>
        </h3>
      </div>
  </div>
<% end %>


<%= link_to 'New Board', new_user_board_path %>